body{
    background-image: url("../images/background2.jpg")

}

h1{
    padding: 10px;
    background-color: peru;
    color: rgb(95, 0, 139);
    font-family: fantasy;
    font-size: 40px;
    width: 400px;
    margin: 5px;

}

.inst{
    padding: 10px;
    padding-bottom: 50px;
    background-color: lightyellow;
    font-size: 18px;
    width: 800px;
    margin: 5px;
}

.inst p{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size: 18px;

}

#random{
    color: rgb(0, 247, 255);
    background-color: rgb(20, 130, 220);
    height: 40px;
    width: 200px;
    font-size: 40px;
    padding: 10px;
    margin: 5px;
    float: left;

}

#winLose{
    color: black;
    background-color: rgb(255, 230, 0);
    height: 40px;
    width: 100px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    float: left;
}


#images{
    clear: both;
}

.gemBtn{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.gemBtn:hover{
    cursor:pointer;
}

#yourScore{
    color: black;
    background-color: rgb(43, 226, 119);
    height: 30px;
    width: 220px;
    font-size: 20px;
    clear: both;
    margin: 5px;
    padding: 10px;

}

#finalScore{
    color: rgb(0, 0, 0);
    background-color: rgb(198, 226, 43);
    height: 90px; 
    width: 220px;
    font-size: 40px;
    clear: both;
    margin: 5px;
    padding: 10px;
}